body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  margin-top: 60px;
  background: #fff;
  color: #940f80;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #e1c8d3;
  border-radius: 8px;
}

button {
  padding: 10px 15px;
  background-color: #02072c;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #e0466f;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffe5ec;
  color: #333;
  padding: 12px 15px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-btn {
  background-color: #bcb5b7;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.vote-btn:hover {
  background-color: #2582a4;
}
